[Unit]
Description=Gaming_server_[3] service
After=multi-user.target

[Service]
ExecStart=/usr/bin/sudo /root/gamingserver3/start.sh

[Install]
WantedBy=multi-user.target