[Unit]
Description=Gaming_server_[2] service
After=multi-user.target

[Service]
ExecStart=/usr/bin/sudo /root/gamingserver2/start.sh

[Install]
WantedBy=multi-user.target